<!-- templates/Servicios/servicio_detail.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Detalle del Servicio</h1>
    <div>
        <strong>Número:</strong> {{ servicio.numero }}<br>
        <strong>Área:</strong> {{ servicio.area }}<br>
        <strong>Dependencia:</strong> {{ servicio.dependencia }}<br>
        <strong>Detalle:</strong> {{ servicio.detalle }}<br>
        <strong>Frecuencia:</strong> {{ servicio.frecuencia }}<br>
        <strong>Procedimientos:</strong> {{ servicio.procedimientos }}<br>
        <strong>Parámetro de Control:</strong> {{ servicio.parametro_control }}<br>
        <strong>Horario:</strong> {{ servicio.horario }}<br>
    </div>
</div>
{% endblock %}
