<!-- templates/Servicios/servicios_list.html -->

{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Listado de Servicios</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Número</th>
                    <th>Área</th>
                    <th>Dependencia</th>
                    <th>Detalle</th>
                    <th>Frecuencia</th>
                    <th>Procedimientos</th>
                    <th>Parámetro de Control</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.numero }}</td>
                    <td>{{ servicio.area }}</td>
                    <td>{{ servicio.dependencia }}</td>
                    <td>{{ servicio.detalle }}</td>
                    <td>{{ servicio.frecuencia }}</td>
                    <td>{{ servicio.procedimientos }}</td>
                    <td>{{ servicio.parametro_control }}</td>
                    <td>{{ servicio.horario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="" class="btn btn-dark">Agregar Servicio</a>
</div>
{% endblock %}
