{% extends 'base.html' %}

{% block title %}Biopackaging{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-weight: bold; font-size: 65px;">Biopackaging</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="links">
                <div>
                    <a href="/boxboard/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">BoxBoard</a>
                    <br>
                    Descripción de la Instalación
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <div>
                    <a href="/corrugados/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Corrugados</a>
                    <br>
                    Descripción de la Instalación
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="links">
                <div>
                    <a href="/edipac/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Edipac</a>
                    <br>
                    Descripción de la Instalación
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <div>
                    <a href="/sackkraft/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Sack Kraft</a>
                    <br>
                    Descripción de la Instalación
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
