{% extends 'base.html' %}
{% load static %}

{% block title %}Bosques{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-4 shadow">
        <h1 style="font-weight: bold; font-size: 65px;">Bosques</h1>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <a href="/balnearios/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Balnearios y casas H.</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="/villaforest/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Bases y Villas Forest</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="/edicorpo/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Edificio Corporativo</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="/transito/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Oficina Tránsito</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="/coyhaique/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Vivero Coyhaique</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="/viverocd/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Vivero CD</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="/bosquesplata/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Bosques del Plata</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'static/css/stylecmpc.css' %}">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">'
{% endblock %}
