{% extends 'base.html' %}

{% block title %}Bosques{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-weight: bold; font-size: 65px;">Bosques</h1>
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Balnearios y casas H.</a>
                <br>
                Descripción de la Instalación
            </div>
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Bases y Villas Forest</a>
                <br>
                Descripción de la Instalación
            </div>
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Edificio Corporativo</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Oficina Tránsito</a>
                <br>
                Descripción de la Instalación
            </div>
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Vivero Coyhaique</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Vivero CD</a>
                <br>
                Descripción de la Instalación
            </div>
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Bosques del Plata</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
    </div>
</div>
{% endblock %}
