{% extends 'base.html' %}

{% block title %}Instalaciones{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="container">
            <h1 style="font-weight: bold; font-size: 65px;">Instalaciones</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="links">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/cmpc_chile/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">CMPC Chile</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/cmpc_argentina/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">CMPC Argentina</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">CMPC Brasil</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">CMPC Mexico</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="links">
                        <div class="row">
                            <div class="col-md-6">
                                <a  href="/bosques/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Bosques</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/biopackaging/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Biopackaging</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a  href="/pulp/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Pulp</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/maderas/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Maderas</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
</div>
{% endblock %}
