{% extends 'base.html' %}

{% block title %}Maderas{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="container">
            <h1 style="font-weight: bold; font-size: 65px;">Maderas</h1>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">AS. Bucalemu</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">AS. Mulchen</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">AS. Nacimiento</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Plywood</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Rem Coronel</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Rem Los Ángeles</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                    <div>
                        <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Niuform Los Ángeles</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
