{% extends 'base.html' %}

{% load static %}
{% block title %}Pulp{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-4 shadow">
        <h1 style="font-weight: bold; font-size: 65px;">Pulp</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/laja/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Laja</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/guaiba/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Guaíba</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/pacifico/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Pacifico</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/santafe/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Santa Fe</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/balneariolaja/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Balneario Laja</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/casahuespedes/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Casas de Huéspedes</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'static/css/stylecmpc.css' %}">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">'
{% endblock %}
