{% extends 'base.html' %}

{% block title %}Pulp{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="container">
            <h1 style="font-weight: bold; font-size: 65px;">Pulp</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/laja/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Laja</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/guaiba/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Guaíba</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/pacifico/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Pacifico</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/santafe/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Santa Fe</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/balneariolaja/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Balneario Laja</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="links">
                        <div>
                            <a href="/casahuespedes/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Casas de Huéspedes</a>
                            <br>
                            Descripción de la Instalación
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
