{% extends 'base.html' %}

{% block title %}Bosques{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-weight: bold; font-size: 65px;">Título de la página</h1>
    <div class="links">
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
        <div>
            <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Nombre del enlace</a>
            <br>
            Descripcion de la Instalacion
        </div>
    </div>
</div>
{% endblock %}
