{% extends 'base.html' %}

{% block title %}Corrugados TilTil{% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card p-4 shadow">
        <h1 class="display-4 mb-4">Registro de Datos Corrugados EEII TilTil</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input type="number" class="form-control" id="numero" name="numero" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="area">Área:</label>
                        <input type="text" class="form-control" id="area" name="area" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="dependencia">Dependencia:</label>
                        <input type="text" class="form-control" id="dependencia" name="dependencia" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="detalle">Detalle:</label>
                        <input type="text" class="form-control" id="detalle" name="detalle" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="frecuencia">Frecuencia:</label>
                        <input type="text" class="form-control" id="frecuencia" name="frecuencia" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="procedimientos">Procedimientos:</label>
                        <input type="text" class="form-control" id="procedimientos" name="procedimientos" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <label for="parametro_control">Parámetros de Control:</label>
                        <input type="text" class="form-control" id="parametro_control" name="parametro_control" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>            
                    <div class="form-group">
                        <label for="horario">Horario:</label>
                        <input type="text" class="form-control" id="horario" name="horario" required>
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark"><i class="fa fa-save mr-2"></i>Guardar</button>
        </form>
        <a href="{% url 'descargar_excel_tiltil' %}" class="btn btn-secondary mt-3"><i class="fa fa-download mr-2"></i>Descargar Excel</a>
    </div>
</div>


<div class="container mt-5">
    <h2>Tabla de Corrugados EEII Til Til</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Area</th>
                    <th scope="col">Dependencia</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Frecuencia</th>
                    <th scope="col">Procedimiento</th>
                    <th scope="col">Parámetros de Control</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
        <tbody>
            {% for dato in tiltil %}
            <tr>
                <td>{{ dato.numero }}</td>
                <td>{{ dato.area}}</td>
                <td>{{ dato.dependencia }}</td>
                <td>{{ dato.detalle }}</td>
                <td>{{ dato.frecuencia }}</td>
                <td>{{ dato.procedimientos }}</td>
                <td>{{ dato.parametro_control }}</td>
                <td>{{ dato.horario }}</td>
                <td>
                    <a href="{% url 'modificar_tiltil' dato.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{% url 'eliminar_tiltil' dato.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este dato?')"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'stylecmpc.css' %}">
{% endblock %}
