{% extends 'base.html' %}

{% block title %}BoxBoard{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-weight: bold; font-size: 65px;">BoxBoard</h1>
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Maule</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Valdivia</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
    </div>
</div>
{% endblock %}
