{% extends 'base.html' %}
{% load static %}

{% block title %}BoxBoard{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-4 shadow">
        <h1 style="font-weight: bold; font-size: 65px;">Box Board</h1>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <a href="/maule/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Maule</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="/valdivia/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Valdivia</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'static/css/stylecmpc.css' %}">
<!-- CSS personalizado -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">'
{% endblock %}
