{% extends 'base.html' %}

{% block title %}Corrugados{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-weight: bold; font-size: 65px;">Corrugados</h1>
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Chimolsa</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Cordillera</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">EEII Buin</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">EEII Osorno</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">EEII Til Til</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Sorepa Pudahuel</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Sorepa Puente Alto</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Sorepa San Joaquin</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="URL_DEL_ENLACE" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Sorepa Red Oficinas</a>
                <br>
                Descripción de la Instalación
            </div>
        </div>
    </div>
</div>
{% endblock %}
