{% extends 'base.html' %}

{% block title %}Edipac{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="container">
            <h1 style="font-weight: bold; font-size: 65px;">Edipac</h1>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <a href="/quilicura/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Planta Quilicura</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="/concepcion/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Oficina Concepción</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="/temuco/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Oficina Temuco</a>
                        <br>
                        Descripción de la Instalación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
