{% extends 'base.html' %}

{% block title %}SackKraft{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div> <!-- Columna vacía para centrar -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="container">
            <h1 style="font-weight: bold; font-size: 65px;">SackKraft</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="links">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/chillan/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Chile Chillan</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/piraidosul/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Brasil Pirai do Sul</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/camposnovos/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Brasil Campos Novos</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/sanjose/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Brasil San Jose</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="links">
                        <div class="row">
                            <div class="col-md-6">
                                <a  href="/fabi/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Argentina Fabi</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/guadalajara/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Mexico Guadalajara</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a  href="/irapuato/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Mexico Irapuato</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                            <div class="col-md-6">
                                <a href="/peru/" style="color: black; text-decoration: underline; font-size: 30px; font-weight: bold;">Peru</a>
                                <br>
                                <input type="text" value="Descripcion de la Instalacion" style="border: none; font-size: 16px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
