{% extends 'base.html' %}

{% block title %}Pirai do Sul{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-4">
        <h1 class="display-3">Datos Sack Kraft Pirai do Sul</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="numero">Número:</label>
                <input type="number" class="form-control is-invalid" id="numero" name="numero">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="numero">Area:</label>
                <input type="text" class="form-control is-invalid" id="area" name="area">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="dependencia">Dependencia:</label>
                <input type="text" class="form-control is-invalid" id="dependencia" name="dependencia">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="detalle">Detalle:</label>
                <input type="text" class="form-control is-invalid" id="detalle" name="detalle">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="frecuencia">Frecuencia:</label>
                <input type="text" class="form-control is-invalid" id="frecuencia" name="frecuencia">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="procedimientos">Procedimientos:</label>
                <input type="text" class="form-control is-invalid" id="procedimientos" name="procedimientos">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="parametro_control">Parámetros de Control:</label>
                <input type="text" class="form-control is-invalid" id="parametro_control" name="parametro_control">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <div class="form-group">
                <label for="horario">Horario:</label>
                <input type="text" class="form-control is-invalid" id="horario" name="horario">
                <div class="invalid-feedback">Este campo es obligatorio.</div>
            </div>
            <button type="submit" class="btn btn-dark">Guardar</button>

        </form>
        <button class="btn btn-secondary mt-3">Subir Excel</button>
        
    </div>
</div>

<div class="container mt-5">
    <h2>Tabla de Sack Kraft Pira do Sul</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Area</th>
                <th scope="col">Dependencia</th>
                <th scope="col">Detalle</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Procedimiento</th>
                <th scope="col">Parámetros de Control</th>
                <th scope="col">Horario</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in piraidosul %}
            <tr>
                <td>{{ dato.numero }}</td>
                <td>{{ dato.area}}</td>
                <td>{{ dato.dependencia }}</td>
                <td>{{ dato.detalle }}</td>
                <td>{{ dato.frecuencia }}</td>
                <td>{{ dato.procedimientos }}</td>
                <td>{{ dato.parametro_control }}</td>
                <td>{{ dato.horario }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="window.location.href=''">Modificar</button>
                    <form method="post" action="{% url 'eliminar_dato' dato.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este dato?')">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}
